<form asp-action="CreateRole" method="post">
    <label class="control-label">Role</label>
    <input type="text" class="form-control" name="role" placeholder="New Role" />
    <input type="submit" class="btn btn-primary" />
</form>
